.Weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100px;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Wewather ul {
  margin: 0%;
  padding: 0%;
}

.Weather li {
  line-height: 19px;
  font-size: 16px;
  font-weight: 100px;
  list-style: none;
}
.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline block;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400px;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400px;
  line-height: 64px;
}
